opencv-python
torch==2.0.0+cu118 --index-url https://download.pytorch.org/whl/cu118
torchvision==0.15.1+cu118 --index-url https://download.pytorch.org/whl/cu118
torchaudio==2.0.1+cu118 --index-url https://download.pytorch.org/whl/cu118
streamlit
pillow
easyocr
ultralytics
streamlit_option_menu
