opencv-python==4.9.0.80
torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118
streamlit==1.36.0 
pillow==10.4.0
easyocr==1.7.1
ultralytics==8.2.55
streamlit_option_menu
psutil==6.0.0
pandas==2.2.2
dill-0.3.8

